__init__.cpython-39.pyc
settings.cpython-39.pyc
urls.cpython-39.pyc
views.cypthon-39.pyc
wsgi.cpython-39.pyc
__init__.cpython-310.pyc
settings.cpython-310.pyc
urls.cpython-310.pyc
views.cypthon-310.pyc
wsgi.cpython-310.pyc
skola/__pycache__/settings.cpython-39.pyc
skola/__pycache__/urls.cpython-39.pyc
skola/__pycache__/wsgi.cpython-39.pyc
skola/__pycache__/__init__.cpython-310.pyc
skola/__pycache__/settings.cpython-39.pyc
skola/__pycache__/settings.cpython-310.pyc
skola/__pycache__/urls.cpython-39.pyc
skola/__pycache__/urls.cpython-310.pyc
skola/__pycache__/views.cpython-310.pyc
skola/__pycache__/wsgi.cpython-39.pyc
skola/__pycache__/wsgi.cpython-310.pyc
